.login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 550px;
    margin: 20px auto;
    padding: 100px;
color: white;
font-weight: bold;
    transform: translate(-50%, -50%);
    background-color: rgb(115, 115, 228);
border-radius: 30px;
  }
  
  .email-input {
    margin-bottom: 10px;
    
  }
  
  .submit-button {
    margin-top: 10px;
  }