@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --mainColor: blue;
    --mainColor: rgb(115, 115, 228);
    --secondaryColor: red;
    --textColor: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
background-color: var(--mainColor);
color: var(--textColor);

}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px){

    .responsive_nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: var(--mainColor);
        z-index: 999;
      }


    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        flex-direction: column;
    }

    header .responsive_nav{
        transform: none;
    }
}